/* src/styles/components/Header.module.scss */
.header {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://st4.depositphotos.com/1275255/30083/i/600/depositphotos_300836484-stock-photo-bright-blurred-gray-abstract-template.jpg');
  display: flex;
  justify-content: space-between; /* Pour espacer le logo et les liens de navigation */
  align-items: center; /* Centrer verticalement */
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav li a {
  margin-right: 2rem;

  color: #ffc1e3; /* Rose pâle */
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
  
  &:hover {
    color: #fff;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligne le logo à gauche */
  padding-left: 20px; /* Légèrement espacé du bord */
}

.logoTitle {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #000;
  letter-spacing: 2px;
  margin: 0;
}

.logoSubtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #000;
  letter-spacing: 1px;
  margin: 0;
}
