.footer {
  padding-bottom: 6rem;
  padding-top: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://st4.depositphotos.com/1275255/30083/i/600/depositphotos_300836484-stock-photo-bright-blurred-gray-abstract-template.jpg');
  display: flex;
  justify-content: center;
  .styles.info{
margin-top: 2rem;
    
  }

  .info p {
    color: #ffc1e3;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
    
    &:hover {
      color: #fff;
    }
  }
}

.h1{

  margin-bottom: 2rem;
}