/* src/styles/global.scss */
@import './variables.scss';
@import './mixins.scss';

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Police par défaut et autres styles globaux */
body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #333;
}
