/* src/styles/components/Carousel.module.scss */
.carousel {
  width: 400vh;
  height: 100vh;
  overflow: hidden;
  position: relative;
  
  img {
    width: 201vh;
    height: 100vh;
    object-fit: cover;
  }

  .carouselTitle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    color: #000;
    letter-spacing: 2px;
    background: linear-gradient(to right, #d3c4b7, #2b2926);
    padding: 10px 20px;
    border-radius: 5px;
  }

  .reserveButton {
   
    position: absolute;
    bottom: 50px;
    left: 25%;
    transform: translateX(-50%);
    background: #5e5959;

    color:  #ffc1e3; 
    font-weight: bold;
    font-size: 1.2rem;
    padding: 20px 80px;
    border: 2px solid #ffc1e3; 
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
    
    &:hover {
      background: #847f7f;
      color: #ffc1e3; /* Couleur de texte en hover */
    }
  }
}
