/* src/styles/components/Carousel.module.scss */
.carousel {
    width: 400vh;
    height: 100vh;
    overflow: hidden;
    h1{
      bottom:90rem;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;

    }
    img {
      width: 201vh;
      height: 100vh;
      object-fit: cover;
    }
  }
  